header {
  font-size: 20px;
    color: gold;
    position: fixed;
    left: 0;
    right: 0;
    padding: .1em .1em;
    border-style: dotted;
    border-color: gold;
    text-shadow: 1px 1px 1px black;
}

.name {
    float: left;
    color: gold;
  }
  
  .links {
    float: right;
    color: gold;
  }
  
  a {
    color: gold;
  }
  
h2 {
    color: gold;
    left: 0;
    right: 0;
    padding: 1em 1em;
    text-align: center;
    text-shadow: .5px .5px .5px black;
}

.quote {
    font-family:"cursive", Brush Script MT;
    font-weight: 100;
    color: gold;
    text-shadow: 1px 1px 2px black;
    font-size: 3em;
    text-align: center;
    margin-top: .2em;
  }

body {
    background: cornflowerblue;
    
}

img {
    display: block;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}