html {
    font-size: 16px
  }
  
.container {
    max-width: 100rem;
    padding: 1.5rem;
  }

  body {
    background-color: cornflowerblue;
  }
  
  h1 {
    font-size: 2.5em;
    margin-bottom: 1.5rem;
    color: gold;
  }

  @media screen and (min-width: 992px) {

    body {
      font-size: 18px;
    }
    .container {
      width: 960px;
      margin: 0 auto;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 991px) {
    body {
      font-size: 16px;
    }
    .container {
      width: 768px;
      margin: 0 auto;
    }
  }
  
  /* Smartphone styles */
  @media screen and (max-width: 767px) {
    body {
      font-size: 14px;
    }
    .container {
      width: 100%;
      margin: 0;
    }
  }